include ./sites/tkirby.dev/upstream.config;

server {
  server_name tkirby.dev;
  #include ./sites/tkirby.dev/http.config;
  location / {
    root /Users/tkirby/workspace/zbryikt/tkirby.org/static/;
  }
}

server {
  server_name tkirby.dev;
  root /Users/tkirby/workspace/zbryikt/tkirby.org/static/;
  include ./sites/tkirby.dev/https.config;
  include ./sites/tkirby.dev/proxy.config;
  ssl_certificate /Users/tkirby/workspace/zbryikt/projects/cert/tkirby.dev/server.crt;
  ssl_certificate_key /Users/tkirby/workspace/zbryikt/projects/cert/tkirby.dev/server.key;
}
