include ./sites-enabled/tkirby.org/upstream.config;

server {
  server_name www.tkirby.org;
  root /home/web/projects/tkirby.org/static/;
  return 301 $scheme://tkirby.org$request_uri;
}

server {
  server_name www.tkirby.org;
  return 301 $scheme://tkirby.org$request_uri;
  root /home/web/projects/tkirby.org/static/;
  listen 443;
  ssl on;
  ssl_protocols TLSv1.2;
  charset utf-8;
  ssl_certificate /etc/letsencrypt/live/www.tkirby.org/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/www.tkirby.org/privkey.pem;
}


server {
  server_name tkirby.org;
  include ./sites-enabled/tkirby.org/http.config;
}

server {
  server_name tkirby.org;
  root /home/web/projects/tkirby.org/static/;
  include ./sites-enabled/tkirby.org/https.config;
  include ./sites-enabled/tkirby.org/proxy.config;
  ssl_certificate /etc/letsencrypt/live/tkirby.org/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/tkirby.org/privkey.pem;
}
