include ./sites/tkirby.org/upstream.config;

server {
  server_name tkirby.org;
  listen 80;
  #include ./sites/tkirby.org/http.config;
  location / {
    root /home/web/projects/tkirby.org/static/;
  }
}

#server {
#  server_name tkirby.org;
#  root /home/web/projects/tkirby.org/static/;
#  include ./sites/tkirby.org/https.config;
#  include ./sites/tkirby.org/proxy.config;
#  ssl_certificate /etc/letsencrypt/live/tkirby.org/fullchain.pem;
#  ssl_certificate_key /etc/letsencrypt/live/tkirby.org/privkey.pem;
#}
