include ./sites-enabled/tkirby.org/upstream.config;

server {
  server_name www.tkirby.org;
  root /home/web/projects/tkirby.org/static/;
  #return 301 $scheme://tkirby.org$request_uri;
  location / {
    root /home/web/projects/tkirby.org/static/;
  }
}

server {
  server_name tkirby.org;
  include ./sites-enabled/tkirby.org/http.config;
}

server {
  server_name tkirby.org;
  root /home/web/projects/tkirby.org/static/;
  include ./sites-enabled/tkirby.org/https.config;
  include ./sites-enabled/tkirby.org/proxy.config;
  ssl_certificate /etc/letsencrypt/live/tkirby.org/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/tkirby.org/privkey.pem;
}
